body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.box {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.box > h3 {
  color: #333;
  border-color: #ddd;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background-repeat: repeat-x;
  display: block;
  font-size: 16px;
  padding: 10px 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.box-padding {
  padding: 15px;
}

.box-padding > h3 {
  margin: -15px;
  margin-bottom: 15px;
}

.box-grey {
  border-color: #ddd;
}

.box-grey > h3 {
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
}

.box-blue {
  border-color: #bce8f1;
}

.box-blue > h3 {
  color: #333;
  background-color: #428bca;
  border-color: #428bca;
}

.box-yellow {
  border-color: #428bca;
}

.box-yellow > h3 {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  background-image: -webkit-linear-gradient(top, #fcf8e3 0, #faf2cc 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0, #faf2cc 100%);
}
