<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Generated Data</h3>
</div>
<div class="modal-body" id="modal-body">
  <!-- <pre>
    <code>
      {{$ctrl.data}}
    </code>
</pre> -->
<ul class="nav nav-tabs">
  <li ng-repeat="type in $ctrl.models.types"
      ng-click="$ctrl.models.activeTab = type.extension"
      ng-class="{active: $ctrl.models.activeTab === type.extension}">
      <a style="cursor:pointer;">{{type.extension}}</a>
  </li>
</ul>

<div class="tab-content">
  <div ng-repeat="type in $ctrl.models.types"
       ng-class="{active: $ctrl.models.activeTab === type.extension}"
       class="tab-pane" >
      <pre class="line-numbers"><code class="language-{{type.extension}}">{{type.data}}</code></pre>
  </div>
</div>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>