<!-- Markup for lists inside the dropzone. It's inside a seperate template
     because it will be used recursively. The dnd-list directive enables
     to drop elements into the referenced array. The dnd-draggable directive
     makes an element draggable and will transfer the object that was
     assigned to it. If an element was dragged away, you have to remove
     it from the original list yourself using the dnd-moved attribute -->
<script type="text/ng-template" id="list.html">
  <ul dnd-list="list">
      <li ng-repeat="item in list"
          dnd-draggable="item"
          dnd-effect-allowed="move"
          dnd-moved="list.splice($index, 1)"
          dnd-selected="models.selected = item;models.selected.order = $index"
          ng-class="{selected: models.selected === item}"
          style="cursor: move;"
          ng-include="item.type + '.html'">
      </li>
  </ul>
</script>

<!-- This template is responsible for rendering a container element. It uses
     the above list template to render each container column -->
<script type="text/ng-template" id="tag.html">
  <div class="container-element box box-blue {{item.class}}">
      <h3><b>{{item.name}} {{item.id ? '/ ' + item.id: ''}}</b></h3>
      <div style="cursor: move;" class="" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
      <div class="clearfix"></div>
  </div>
</script>

<!-- Template for a normal list item -->
<script type="text/ng-template" id="module.html">
  <div style="cursor: move;" class="item {{item.class}}"><b>{{item.name}}</b></div>
</script>

<div class="row">
  <!-- Main area with dropzones and source code -->
  <div class="col-md-10">
    <div ng-repeat="(zone, list) in models.dropzones">
      <div class="dropzone box box-yellow">
        <!-- The dropzone also uses the list template -->
        <div ng-include="'list.html'"></div>
      </div>
    </div>
  </div>

  <!-- Sidebar -->
  <div class="col-md-2">
    <div>
      <button type="button" class="btn btn-primary" ng-click="open('lg')">
        <b>View data</b>
      </button>
      <button type="button" class="btn btn-success"><b>Save</b></button>
    </div>

    <div ng-repeat="(zone, list) in models.modules">
      <div class="dropzone box box-yellow">
        <!-- The dropzone also uses the list template -->
        <h3><b>Unlocated modules</b></h3>
        <div ng-include="'list.html'"></div>
      </div>
    </div>

    <div class="toolbox box box-grey" style="margin-bottom: 40px">
      <h3><b>New Elements</b></h3>
      <ul>
        <!-- The toolbox only allows to copy objects, not move it. After a new
                 element was created, dnd-copied is invoked and we generate the next id -->
        <li
          ng-repeat="item in models.templates"
          dnd-draggable="item"
          dnd-effect-allowed="copy"
        >
          <button
            type="button"
            class="btn btn-lg"
            disabled="disabled"
            style="color: #333; background-color: #89d1f2"
          >
            <b>{{item.type}}</b>
          </button>
        </li>
      </ul>
    </div>

    <div ng-if="models.selected" class="box box-grey">
      <strong>Type: </strong> {{models.selected.type}}
      <br />
      <label for="nameInput">Name:</label>
      <input
        type="text"
        ng-model="models.selected.name"
        id="nameInput"
        class="form-control"
        style="margin-top: 5px"
      />
      <div ng-if="models.selected.type === 'tag'">
        <label for="idInput">Id:</label>
        <input
          type="text"
          ng-model="models.selected.id"
          ng-change="changeIdInput()"
          id="idInput"
          class="form-control"
          style="margin-top: 5px"
        />
        <label for="classInput">Class:</label>
        <input
          type="text"
          ng-model="models.selected.class"
          id="classInput"
          class="form-control"
          style="margin-top: 5px"
        />
      </div>
      <div ng-if="models.selected.type === 'module'">
        <label for="positionInput">Position:</label>
        <input
          type="text"
          ng-model="models.selected.position"
          id="positionInput"
          disabled
          class="form-control"
          style="margin-top: 5px"
        />
        <label for="positionInput">HasLoadToLayout:</label>
        <input
          type="text"
          ng-model="models.selected.hasLoadToLayout"
          id="positionInput"
          disabled
          class="form-control"
          style="margin-top: 5px"
        />
        <label for="orderInput">Order:</label>
        <input
          type="text"
          ng-model="models.selected.order"
          id="orderInput"
          disabled
          class="form-control"
          style="margin-top: 5px"
        />
      </div>
    </div>

    <div class="trashcan box box-grey box-padding">
      <!-- If you use [] as referenced list, the dropped elements will be lost -->
      <h3><b>Trashcan</b></h3>
      <ul dnd-list="">
        <li>
          <img
            src="app/nested/trashcan.jpg"
            style="height: 150px; width: 200px"
          />
        </li>
      </ul>
    </div>
  </div>
</div>
